@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

body {
  background: linear-gradient(135deg, #37b7d4, #843ade);
  // background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
  display: flex;
  height: 100vh;
  align-items: center;
  .container {
    border-radius: 10px;
    background-color: white;
    padding: 60px;
    width: 80%;
    margin: 0 auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  .nav-list {
    display: flex;
    .nav-list-item {
      margin-left: 40px;
    }
  }
}

.main {
  margin: 80px 0px;
  .info {
    width: 400px;
    margin: 15px 0px;
  }
  .question {
    font-size: 12px;
    a {
      color: dodgerblue;
    }
  }
}

hr {
  color: lightgray;
}

.calander {
  margin: 30px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  .row {
    width: 350px;
    .hashtags {
      color: gray;
      &__blue {
        color: dodgerblue;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 376px) {
  .calander {
    font-size: 14px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    .row {
      width: 200px;
    }
  }
}
